
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#container{
 
  margin-left:28%;
  margin-right:28%;
  text-align:center;
}

#times{
  margin-top:2%;
  margin-bottom:2%
}
#stopwatch{
  margin-top:2%;
  margin-bottom:2%
}

#buttons button{
  margin-right:1%;
  margin-left:1%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: columccn;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #ca1111;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

